.div-1{
    font-size:100px;
}
.slick-arrow.slick-prev{
    background-color:rgb(82, 82, 224);
    height:50px;
    width:30px;
    left:0;
    z-index: 1;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left:1%;
}
.slick-arrow.slick-next{
    background-color:rgb(82, 82, 224);
    height:50px;
    width:30px;
    right:0;
    z-index: 1;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
    display: flex;
    align-items: center;
    justify-content: center;  
}
.slick-prev::before,
.slick-next::before{
    display: none;
}
*{
    margin:0;
    padding:0;
}
.items{
    width:100px;
    padding:0px 0 0px 20px;
}
.imgstore{
    display: flex;
    justify-content: center;
    align-items: center;
    height:90px;
    width:90px;
    border:1.5px solid red;
    border-radius:50%;
    overflow: hidden;
}
.imgstore-2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border: 1px solid red;
    border-radius:50%;
    height:70px;
    width:70px;
}
.imgstore img{
    height:90px;
    width:100px;
}
.imgstore img:hover{
    transform:scale(1.12);
    transition:400ms;
}
.Name{
    text-align: center;
    font-size:16px;
    margin:10% 0;
}

